@{
    ViewData["Title"] = "Pesquisa";
}

<div class="text-center">
    <h3>Testes com Azure Event Hubs + Kubernetes</h3>
    <h5>Qual é o melhor dia da semana?</h5>
    <br/>
    @Html.ActionLink("Segunda-Feira", "VotoSegundaFeira", "Votacao", null, new { @class = "btn btn-primary btn-xs" })
    @Html.ActionLink("Sexta-Feira", "VotoSextaFeira", "Votacao", null, new { @class = "btn btn-success btn-xs" })
    @Html.ActionLink("Sábado", "VotoSabado", "Votacao", null, new { @class = "btn btn-info btn-xs" })
    @Html.ActionLink("Domingo", "VotoDomingo", "Votacao", null, new { @class = "btn btn-danger btn-xs" })

    @if (!String.IsNullOrWhiteSpace((string)TempData["Voto"]!))
    {
        <br/><br/>
        <p>Obrigado pelo seu voto: <b>@TempData["Voto"]</b></p>
    }
</div>